# Week 7 Assignment

### How do you define a list in Python?

In [5]:
# # Create a lsit of five integers 1, 2, 3, 4, 5 and assign it to the variable my_list
my_list = [1, 2, 3, 4, 5]

### How do you access the third element of a Python list named my_list?

In [20]:
# Retrieve the third element of my_list
my_list[2]

3

### How can you add the element "new_item" to the end of an existing list named my_list?

In [22]:
# # Add the element "new_item" to the end of my_list
my_list.append("new_item")
my_list

[1,
 2,
 3,
 4,
 5,
 'new_item',
 'new_item',
 'new_item',
 'new_item',
 'n',
 'e',
 'w',
 '_',
 'i',
 't',
 'e',
 'm',
 'n',
 'e',
 'w',
 '_',
 'i',
 't',
 'e',
 'm',
 'new_item',
 'new_item',
 'new_item',
 'new_item']

### *How do you create a Python tuple with the items "apple", "banana", and "cherry"?

In [23]:
# Create a tuple of five integers and assign it to the variable tuple_1
tuple_1 = 'apple', 'banana', 'cherry' # Simply state elements
tuple_1 = ('apple', 'banana', 'cherry')
tuple_1

('apple', 'banana', 'cherry')

### How do you access the first element of a Python tuple named my_tuple?

In [24]:
# Retrieve the first element of tuple_1
tuple_1[0]

'apple'

### How do you define a dictionary in Python with keys "name", "age" and values "John Doe", 30?

In [25]:
# Generate a dictionary with keys "name", "age" and values "John Doe", 30 and assign it to the variable my_dict
my_dict = {"name": "John Doe", "age": 30}
my_dict

{'name': 'John Doe', 'age': 30}

In [26]:
# Return the keys of the dictionary
my_dict.keys()

dict_keys(['name', 'age'])

### How can you retrieve the value for the key "name" from the dictionary my_dict

In [27]:
# Return the value for the key "name" of the dictionary
my_dict["name"]

'John Doe'

### How can you change the value associated with the key "age" in the dictionary my_dict to 35?

In [29]:
# Change the value of the key "age" to 35 in my_dict
my_dict["age"] = 35
my_dict

{'name': 'John Doe', 'age': 35}

### How can you add a new key-value pair "city":"New York" to the dictionary my_dict?

In [30]:
# Add a new key-value pair "city" and "New York" to my_dict
my_dict["city"] = "New York"
my_dict

{'name': 'John Doe', 'age': 35, 'city': 'New York'}

### *How do you create a set in Python with the items "apple", "banana", and "cherry"?

In [34]:
# Create a set with the elements 'apple', 'banana', 'cherry' and assign it to the variable my_set
my_set = {'apple', 'banana', 'cherry'}
my_set

{'apple', 'banana', 'cherry'}

### How do you add the item "orange" to an existing set my_set?

In [35]:
# Add the element 'orange' to my_set
my_set.add('orange')
my_set

{'apple', 'banana', 'cherry', 'orange'}

### How do you remove the item "banana" from the set my_set?

In [36]:
# Remove the element 'banana' from my_set
my_set.remove('banana')
my_set

{'apple', 'cherry', 'orange'}

### What is the length of a list my_list with elements [1, 2, 3, 4, 5]?

In [39]:
# Generate a list with elements 1, 2, 3, 4, 5 and assign it to the variable my_list
my_list = [1, 2, 3, 4, 5]
# What is the length of my_list?
len(my_list)

5

### What will be the result of my_list * 2 if my_list is [1, 2, 3]?

In [41]:
# Generate a list my_list with the elements 1, 2, 3
my_list = [1, 2, 3]

In [45]:
# What is the result of my_list*2
my_list*2

[1, 2, 3, 1, 2, 3]

### What is the result of set([1,2,2,3,4,4,4,5,5])?

In [46]:
# What is the result of set([1,2,2,3,4,4,4,5,5])
set([1,2,2,3,4,4,4,5,5])

{1, 2, 3, 4, 5}