# Week 6 Assignment

## 1.

In [5]:
# multiply 3 and 8
print(3 * 8)

24

In [6]:
# divide 33+7 by 5
print((33 + 7) / 5)

8.0

## 2.

In [8]:
# Determine the data type of the output of the code 1+2. and 1+2
print(type(1 + 2.))

<class 'float'>

In [9]:
type(1 + 2)

int

These are two different data types because float represents numbers with decimal points and integers are numbers without a decimal points, or whole/exact values.

## 3.

In [15]:
# create a loop that prints n**2 for the numbers n=1,2,3,4,5
for i in range(1, 6):
    print(i**2)

1
4
9
16
25

## 4.

In [12]:
# Create a loop that prints the value of i2 to the screen. Increment the value of i by 1 until the value of i2 exceeds 1000. 
while i ** 2 <= 1000:
    print(i ** 2)
    i += 1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961

In [14]:
# print the value assigned to i after the loop has completed.
print(i)

32

i=32 because once the loop of i2 is completed, exceeding 1000, 32^2 is the first square larger than 1000.