# Exploratory Data Analysis

> 1. Import Pandas

In [2]:
import pandas as pd
from scipy import stats

> 2. Read a CSV file

In [ ]:
# Import the dataset
df = pd.read_csv('data.csv')

> 3. Display Rows

In [ ]:
# Display the first 5 rows of the dataset
df.head()

> 4. Calculating Mean

In [ ]:
# Calculate the mean of the 'age' column in dataframe df
mean_age = df['age'].mean()

> 5. Calculating Median

In [ ]:
# Calculate the median of the 'salary' column in dataframe df
median_salary = df['salary'].median()

> 6. Calculating Standard Deviation

In [ ]:
# Calculate the standard deviation of the 'score' column in dataframe df
std_score = df['score'].std()

> 7. Finding Missing Values

In [ ]:
# Find hte number of missing values in each column in dataframe df
missing_values = df.isnull().sum()

> 8. Correlation

In [ ]:
# Calculate the correlation between 'age' and 'salary' columns in dataframe df
correlation = df['age'].corr(df['salary'])

> 9. Selecting Subsets

In [ ]:
# Select a subset of the dataframe where 'age' is greater than 30
subset_df = df[df['age'] > 30]

> 10. Calculating Range

In [ ]:
# Calculate the range of the 'score' column in dataframe df
score_range = df['score'].max() - df['score'].min()

> 11. Grouping by a Column + Finding Mean

In [ ]:
# Group the dataframe by 'department' and calculate the mean of 'salary' for each group
grouped_mean_salary = df.groupby('department')['salary'].mean()

> 12. Grouping by a Column + # of Rows

In [ ]:
# Group dataframe df by 'department' and 'job_title' and calculate the count of each group
grouped_count = df.groupby(['department', 'job_title']).size()

> 13. Groupby Method to Find Maximum

In [ ]:
# Use the groupby method to calculate the maximum 'age' for each 'department' in dataframe df
grouped_max_age = df.groupby('department')['age'].max()

> 14. Cross-Tabulation Table with Frequency

In [ ]:
# Create a cross-tabulation that shows the frequency count of 'department' and 'job_title' in dataframe df
crosstab = pd.crosstab(df['department'], df['job_title'])

> 15. Cross-Tabulation Table with Mean

In [ ]:
# Create a cross-tabulation table that shows the mean salary for each combination of 'department' and 'job_title' in dataframe df
crosstab_mean_salary = pd.crosstab(df['department'], df['job_title'], values=df['salary'], aggfunc='mean')